In [1]:
# Understanding the variables in python.
# ----> commenting the lines hash will be used.

In [2]:
x = 5 
y = 6
x+y

11

In [ ]:
Rules for declaring the varibles in python: 3 rules.

In [ ]:
#Rule No:1
No name spaces while declaring the variable name.

In [3]:
first name = 'Raj' # invalid declaration
print(first name)

SyntaxError: invalid syntax (<ipython-input-3-f00b9a284359>, line 1)

In [4]:
first_name = 'Raj'
print(first_name)

Raj

In [5]:
firstname = 'Raj'
print(firstname)

Raj

In [ ]:
#Rule No:2

you should not start the variable name with a number # important rule

In [6]:
5name = 'raj' # invalid declaration
print(5name)

SyntaxError: invalid syntax (<ipython-input-6-e231d7008f52>, line 1)

In [7]:
name6 = 'python' # valid declaration 
print(name6)

python

In [9]:
#Rule No:3

Variable name should not contain any special characters like %$#@&*^

In [10]:
firstname@ = 'python' # invalid declaration
print(firstname@)

SyntaxError: invalid syntax (<ipython-input-10-e889fa266b64>, line 1)

In [ ]:
classfication of datatypes:
    There are 2 different categories:
        
        1.Mutable datatypes
        2.Immutable datatypes
        
1.Mutable datatypes:
    We can able to change/modify the data once it gets assigned.
    
2.Immutable datatypes:
    We cannot able to change/modify the data once its gets assigned.

In [ ]:
Introduction to datatypes in python:
    
1. string ------>str
2. integers------>int
3. List---------->list
4. Tupe----------->tuple
5. Dictionary----->dict

In [ ]:
Python is a case sensitive language,small case and upper case letter will be impacting the code.

In [ ]:
Introduction to string datatype:

    Definitition: A string is nothing but a series of characters declared in between the quotes.
    
    Classification: A string is classified as an immutable datatype # imporant **
    
    Declaration: how do you declare a string ======>3 possible cases 
        
        1)single quotes
        2)double quotes
        3)triple quotes

In [16]:
name1 = 'Sekhar' # single quotes

print(name1)

Sekhar

In [17]:
name2 = "Raj" # double quotes

print(name2)

Raj

In [18]:
name3 = """Rajasekhar""" # triple quotes

print(name3)

Rajasekhar

In [ ]:
#Bulltin methods of a string.

In [ ]:
# To verify and validate the datatypes.

In [19]:
type(name1)

str

In [20]:
type(name2)

str

In [21]:
type(name3)

str

In [22]:
full_name = 'Raja sekhar'

print(full_name)

Raja sekhar

In [23]:
print(full_name.title()) # title case

Raja Sekhar

In [24]:
print(full_name.upper()) # upper case method

RAJA SEKHAR

In [25]:
print(full_name.lower()) # lower case

raja sekhar